body {
    padding-bottom: 15px;
}
.loading {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(359deg);
    }
}

a img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

a img:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 767px) {
    .affix {
        position: static;
        width: auto;
        top: 0;
    }
}

@media (min-width: 992px) {
    .affix-top {
        position: fixed;
        top: 0px;
    }
}

.table-status {
    margin-top: 20px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}
.progress-data {
    width: 100%;
}
#btn-certificate-upload, #file-certificate, #ssl-file-certificate, #btn-ssl-certificate-upload {
    display: inline-block;
}
.cert-upload {
    margin-bottom: 15px;
}
.cert-upload > label {
    display: block;
}
.cert-upload .message {
    margin-top: 10px;
}
.cert-upload .refresh, .cert-upload.active .upload, .btn-cert-remove.active .remove, .btn-cert-remove .refresh-remove {
    display: none;
}
.cert-upload.active .refresh, .btn-cert-remove.active .refresh-remove {
    display: inline-block;
}
.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.error-block {
    margin-top: 15px;
}
#file-import {
    margin-bottom: 15px;
}
.btn-import-stop {
    margin-bottom: 15px;
}
#export-filename {
    max-width: 400px;
}
.backgrid-pagination-cell {
    display: table-cell !important;
}
.backup-delimiter {
    max-width: 60px;
}
.label-is-verified:hover {
    cursor: pointer;
}
#PLU .alert {
    margin-bottom: 0px;
    clear: both;
}
.plu-info-message {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.backgrid .tooltip-inner {
    text-align: left;
}
.main-page-cell {
    font-size: 25px;
}
